* {box-sizing:border-box}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f3;
  font-family: 'DM Sans', sans-serif;

}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.content-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
  margin-bottom: 10px;
}

.right-section {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 30px;
  top:35px;
}

.icon img {
  height: 40px;
  width: auto;
}

.nav-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 10px 20px;
  border-radius: 12px;
  position: relative;
}


.nav-bar {
  background-color: black;
  border-radius: 16px;
  border: 2px solid black;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}




.mySlides {
  position:absolute;
  width: auto;
  height: 80vh;

}

.search-container
 img {
  height: 60px;
  width: 60px;
}

.shopping-cart-container
 img {
  height: 60px;
  width: 60px;
}

.mySlides  img{
  border: 5px solid black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  object-fit: fill;
  width: 100%;
  height: 100%;
}


.active, .dot:hover {
  background-color: #717171;
}


.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 2vw, 24px);

}

.nav-links li a.highlighted {
  background-color: #f9d978;
  color: black;
}



.carousel-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 30px;
}

.carousel-overlay { 
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  z-index: 1;

}

.carousel-overlay button {
  font-size: clamp(10px, 2vw, 18px);
  padding: clamp(6px, 1vw, 12px) clamp(10px, 2vw, 20px);
  border-radius: 90px;
  padding: 1px;
}

.hover-button {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f0f1f3;
  color: #000;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 20px;
  border: 3px solid black;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.hover-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.hover-button .text {
  position: relative;
  z-index: 2;
}

.hover-button:hover img {
  opacity: 1;
}

.hover-button:hover .text {
  opacity: 0;
}



.hamburger-menu {
  display: none;
}

.hamburger-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9d978;
  width: 20%;
  padding: 10px 0;
  text-align: left;
}

.hamburger-links {
  display: none;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.hamburger-links li {
  margin: 10px 0;
}

.hamburger-links li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: block;
}

@media (min-width: 480px) and (max-width:1100px) {


  .mySlides img {
    height: 80vh;
    width: auto;
  }

  .nav-links li a{
    font-size: 14px;
    padding: 2px 4px;
  }

  .nav-wrapper {
    padding: 10p 25px
  }
}

@media (max-width: 479px) {
  .carousel-overlay{
    display: none;
  }

  .nav-links li a{
    font-size: 10px;
    padding: 2px 4px;
  }
}

